*General?
Rom path=/home/vinnix/Downloads/ROMs/Genesis/
Save path=/home/vinnix/.gens/
SRAM path=/home/vinnix/.gens/
BRAM path=/home/vinnix/.gens/
Dump path=/home/vinnix/.gens/
Dump GYM path=/home/vinnix/.gens/
Screen Shot path=/home/vinnix/.gens/
Patch path=/home/vinnix/.gens/
IPS Patch path=/home/vinnix/.gens/
Genesis Bios=/home/vinnix/.gens/
USA CD Bios=/home/vinnix/.gens/
EUROPE CD Bios=/home/vinnix/.gens/
JAPAN CD Bios=/home/vinnix/.gens/
32X 68000 Bios=/home/vinnix/.gens/
32X Master SH2 Bios=/home/vinnix/.gens/
32X Slave SH2 Bios=/home/vinnix/.gens/
Rom 1=/home/vinnix/Downloads/ROMs/Genesis/californiagames.zip
Rom 2=/home/vinnix/Downloads/ROMs/Genesis/sonicthehedgeho.zip
Rom 3=/home/vinnix/Downloads/ROMs/Genesis/f22interceptor.zip
Rom 4=/home/vinnix/Downloads/ROMs/Genesis/final_fantasy.zip
Rom 5=/home/vinnix/Downloads/ROMs/Genesis/shadowrun.zip
Rom 6=/home/vinnix/Downloads/ROMs/Genesis/mk.zip
Rom 7=/home/vinnix/Downloads/ROMs/Genesis/sonicspinball.zip
Rom 8=/home/vinnix/Downloads/ROMs/Genesis/strider.zip
Rom 9=/home/vinnix/Downloads/ROMs/Genesis/ttoons.zip
CD Drive=/home/vinnix/
CD Speed=0
State Number=0
Language=0
Window X=0
Window Y=0
Free Mode Color=7

*Graphics?
Full Screen=0
Full Screen VSync=0
Windows VSync=0
Render Mode=2
Bits Per Pixel=32
Render Opengl=1
Opengl Width=640
Opengl Height=480
Stretch=1
Software Blit=0
Contrast=100
Brightness=100
Greyscale=0
Invert=0
Sprite limit=1
Frame skip=-1

*Sound?
State=1
Rate=22050
Stereo=1
Z80 State=1
YM2612 State=1
PSG State=1
DAC State=1
PCM State=1
PWM State=1
CDDA State=1
YM2612 Improvement=0
DAC Improvement=0
PSG Improvement=0

*CPU?
Country=-1
Prefered Country 1=0
Prefered Country 2=1
Prefered Country 3=2
Perfect synchro between main and sub CPU (Sega CD)=0
Main SH2 Speed=100
Slave SH2 Speed=100

*Options?
Fast Blur=0
FPS=0
FPS Style=0
Message=1
Message Style=0
LED=1
Auto Fix Checksum=0
Auto Pause=0
CD Drive=0
Ram Cart Size=3
GCOffline path=GCOffline.chm
Gens manual path=manual.exe

*Input?
P1.Type=1
P1.Up=4112
P1.Down=4113
P1.Left=4114
P1.Right=4115
P1.Start=4123
P1.A=4116
P1.B=4117
P1.C=4121
P1.Mode=4122
P1.X=4118
P1.Y=4119
P1.Z=4120
P1B.Type=0
P1B.Up=273
P1B.Down=274
P1B.Left=276
P1B.Right=275
P1B.Start=13
P1B.A=97
P1B.B=115
P1B.C=100
P1B.Mode=0
P1B.X=0
P1B.Y=0
P1B.Z=0
P1C.Type=0
P1C.Up=0
P1C.Down=0
P1C.Left=0
P1C.Right=0
P1C.Start=0
P1C.A=0
P1C.B=0
P1C.C=0
P1C.Mode=0
P1C.X=0
P1C.Y=0
P1C.Z=0
P1D.Type=0
P1D.Up=0
P1D.Down=0
P1D.Left=0
P1D.Right=0
P1D.Start=0
P1D.A=0
P1D.B=0
P1D.C=0
P1D.Mode=0
P1D.X=0
P1D.Y=0
P1D.Z=0
P2.Type=1
P2.Up=121
P2.Down=104
P2.Left=103
P2.Right=106
P2.Start=117
P2.A=107
P2.B=108
P2.C=109
P2.Mode=116
P2.X=105
P2.Y=111
P2.Z=112
P2B.Type=0
P2B.Up=0
P2B.Down=0
P2B.Left=0
P2B.Right=0
P2B.Start=0
P2B.A=0
P2B.B=0
P2B.C=0
P2B.Mode=0
P2B.X=0
P2B.Y=0
P2B.Z=0
P2C.Type=0
P2C.Up=0
P2C.Down=0
P2C.Left=0
P2C.Right=0
P2C.Start=0
P2C.A=0
P2C.B=0
P2C.C=0
P2C.Mode=0
P2C.X=0
P2C.Y=0
P2C.Z=0
P2D.Type=0
P2D.Up=0
P2D.Down=0
P2D.Left=0
P2D.Right=0
P2D.Start=0
P2D.A=0
P2D.B=0
P2D.C=0
P2D.Mode=0
P2D.X=0
P2D.Y=0
P2D.Z=0
